#LinkList1.active ul {
  flex-direction: column;
  height: calc(95vh - 66px);
  font-size: 25px;
  background: var(--main-bg-color);
}

#LinkList1.active ul li {
  width: 100%;
}

@keyframes transition {
0% { position: relative; transform: translateX(100vw); }  
100% { position: relative; transform: translateX(0); }
}

.active {
  display: initial !important;
  animation-name: transition;
  animation-duration: 1.5s;
}
